body, html, #maindiv {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}

body {
background-color: aqua;
background: linear-gradient(45deg, rgba(116,250,130,1) 0%, rgba(0,123,255,1) 100%); 
}
.loadbar {
    width: 0px;
    height: 50px;
    background-color: green;
}
#testdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 200px red inset;
    display: none;
}
#canvas {
    visibility: hidden;
}

#videoElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    visibility: hidden;
    pointer-events: none;
    
}

.target, #lefthand, #righthand {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 5px solid green;
    display: none;
    z-index: 3;
}

#target1, #target2 {
    bottom: 50%;
    
}
#lefthand {
    bottom: 10px;
    right: 200px;
}
#righthand {
    bottom: 10px;
    right: 20px;
}

#testdiv2 {
    display: none;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    animation: 5s test1 infinite;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes test1 {
    0% {
        left: 10%;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 10%;
    }
}



#textonly2, #devdiv, #loadimg2, #resdiv, #sky, #projectordiv, #setup, #projectorborder, .modal, #setup2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#devdiv {
    z-index: 20;
}
#textonly2 {
    pointer-events: none;
}

#textonly, #loadimg {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 200px;
    color: red;
}

#loadimg {
    width: auto;
    height: auto;
}

#programs {
    width: 20vw;
    height: 80vh;
    top: 10vh;
    border-radius: 10px 0 0 10px;
    background-color: gainsboro;
    position: absolute;
    right: 0px;
    display: none;
}

#console {
    width: 30vw;
    height: 80vh;
    top: 10vh;
    border-radius: 0 10px 10px 0;
    background-color: black;
    position: absolute;
    left: 0px;
    border: 3px solid white;
    border-left: 0px;
    overflow: hidden;
    display: none;
}

#console>textarea {
    width: 100%;
    height: 95%;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 0px;
}

#console>input {
    width: 80%;
    height: 5%;
    border: 0px;
    background-color: rgba(0,0,0,0);
    color: white;
}

#console>button {
    width: 20%;
    height: 5%;
}

#start {
    background: linear-gradient(239deg, #6fe2b2, #b665e0, #10adfe);
    background-size: 600% 600%;
    width: 100%;
    height: 100%;
    animation: mainbg 30s ease infinite;
}
#start>img {
    max-width: 90vw;
}

@keyframes mainbg {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
#start>button {
    width: auto;
    padding: 1vmin;
    height: 8vmin;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgb(176, 106, 241) inset, 0px 0px 15px 5px rgb(131, 0, 253);
    border: 0;
    margin: 20px;
    font-size: 5vmin;

    color:rgb(221, 186, 253);
    
}

#resdiv>span {
    background-color: red;
    margin: 0;
    padding: 0;
}

#toolbar {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: indianred;
    padding: 0;
}
#toolbar>button {
    width: 5%;
    height: 100%;
    font-size: 10px;
    float: left;
    background-color: lightgray;
    border-top: 0px;
    border-bottom: 0px;
    border: 0;
    display: block;
    margin: 0 2px 0 2px;
    position: relative;
}

#sky {
    background-color: rgb(92, 217, 255);
}
#sky>.cloud {
    animation: 5s cloud1 infinite;
    bottom: 60%;
}

@keyframes cloud1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0);
    }
}
.cloud {
    width: 300px;
    height: 100px;
    background-color: white;
    position: absolute;
}

#projectordiv {
    background-color: black;
}

#qrcode {
    top: 0;
    right: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: gray;
    color: white;
    z-index: 20;
    border: 0px;
}
#blockdiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    display: none;
}
#blockdiv>div {
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
    background-color: black;
}

.laserdoor {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: red;
}
#errordiv {
    position: absolute;
    height: 150px;
    width: 400px;
    background-color: red;
    border-radius: 20px;
    animation: 1s error;
    top: 50px;
    right: 20px;
    display: none;
}

@keyframes error {
    0% {
        right: -400px;
        opacity: 0.3
    }

    100% {
        opacity: 1;
        right: 20px;
    }
}

#setup>div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 700px;
    max-width: 98%;
    max-height: 95%;
    background-color: ghostwhite;
    border-radius: 30px;
    transform: translate(-50%,-50%);
    overflow-x: hidden;
    overflow-y: auto;
}

#setup {
    display: block;
    z-index: 9;
    background-color: lightgray;
}

#setup>div>div>div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 10px;
}
#login {
    display: none;
}
#setup .tab1 {
    display: inline-block;
    border-radius: 10px 10px 0 0;
    background-color: gray;
    width: 50%;
    height: 30px;
    margin: 0%;
    position: sticky;
    top: 0px;
}

#setup button {
    background-color: lightgrey;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #282885;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description {
    position: absolute;
    top: 30%;
    text-align: center;
}
.loader {
    border: 3px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 5px solid rgb(0, 255, 213);
    animation: 1s load infinite;
}
@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

#loaddiv {
    font-family: 'Open Sans', sans-serif;
    display: block;
    z-index: 10;
    opacity: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeout {
    animation: 1s fadeOut;
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.microphone {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 0 0 50% 50%;
    border-color: transparent black black black;
    border-width: 0 5px 5px 5px;
    border-style: solid;
    margin: 40px 5px 45px 5px;
}

.microphone::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 80px;
    bottom: 5px;
    left: 5px;
    border-radius: 20px;
    background-color: black;
}

.microphone::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 30px;
    bottom: -40px;
    left: 15px;
    border: 5px solid rgba(0,0,0,0);
    border-bottom-color: black;
    background-color: black;
}

.cameraicon {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: black;
    border-radius: 5px;
    margin: 5px 5px 5px 45px;
}

.cameraicon::after {
    content: "";
    width: 0;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: -40px;
    border: 40px solid transparent;
    border-left-color: black;
    border-right: 0px;
    
}

.circlebox {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: gray;
    position: relative;
    vertical-align: middle;
    padding: 30px;
}

.circlebox>* {
   position: relative;
}

@keyframes scan1 {
  0% {
        transform: translateY(70px);
  }

  50% {
        transform: translateY(-70px)
  }
  100% {
    transform: translateY(70px);
}
}

#warning {
    z-index: 100;
    display: block;
    background-color: rgba(0,0,0,0.7);
    color: rgb(251, 255, 0);
    font-family: monospace;
}

#warning button {
    background-color: rgb(247, 0, 226);
    border-radius: 10px;
    padding: 15px;
    border: none;
    color: white;
    margin: 15px;
    font-size: 16px;
}
#allowmedia>div {
    z-index: 3;
}
#allowmedia .l1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: darkgray;
    width: 50%;
    height: 100%;
}
#allowmedia .r1 {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: darkgray;
    width: 50%;
    height: 100%;
}

#allowmedia .r1>*, #allowmedia .l1>*, #allowmedia .r2>*, #allowmedia .l2>* {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

#allowmedia.done>div {
    box-shadow: inset 0px 0px 33px 6px rgba(0,255,115,0.91);
}

#allowmedia .allowed {
    
    box-shadow: inset 0px 0px 33px 6px rgba(0,255,115,0.91);
    animation: 1s shadow1;
}

@keyframes shadow1 {
    0% {
        box-shadow: inset 0px 0px 0px 0px rgba(0,255,115,0.91);
    }
    100% {
        box-shadow: inset 0px 0px 33px 6px rgba(0,255,115,0.91);
    }
}

#allowmedia.done .l1 {
    animation: 1s openleft;
    top: 0px;
    left: -50%;
}

#allowmedia.done .r1 {
    animation: 1s openright;
    top: 0px;
    right: -50%;
}

@keyframes openleft {
    0% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: -50%;
    }
}

@keyframes openright {
    0% {
        right: 0px;
        top: 0px;
    }
    100% {
        right: -50%;
    }
}

#allowmedia>.circlebox {
    display: none;
}

#allowmedia.done>.circlebox {
    display: inline-block;
    animation: 1s fadeIn;
}
#allowmedia.done>.circlebox * {
    
    animation: 2s fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#allowmedia>h1 {
    position: absolute;
    z-index: 5;
    display: block;
    width: 100%;
}
#characterdiv {
    box-shadow: none !important;
    border-radius: 25px;
    height: calc(100% - 100px);
    width: 90%;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

#characterdiv>div {
    display: inline-block;
    width: 30%;
    height: calc(100% - 50px);
    border: 5px solid grey;
    border-radius: 10px;
    position: relative;
}

#characterdiv>div>span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#characterdiv>div>span::after {
    content: "";
    width: 70px;
    height: 10px;
    background-color: lightgray;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}
#characterdiv>div>span::before {
    content: "";
    width: 10px;
    height: 70px;
    background-color: lightgray;
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
}
#allowmedia .circlebtn {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.circlebtn {
    display: inline-block;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: gray;
    position: relative;
    vertical-align: middle;
    padding: 15px;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
}

.popup {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    left: 5%;
    top: 5%;
    display: none;
    box-shadow: -5vw -5vh 10vmax rgba(0, 0, 0, 0.5);
}

#allowmedia>.popup>div {
    width: 100%;
    height: 100%;
}

#charcolors {
    background: #000523;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    width: 100%;
    height: 100%;
}

#charcolors>div {
    margin: 15px;
    padding: 15px;
}
#charcolors::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
#charcolors::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
#charcolors:nth-child(1)::before,
#charcolors:nth-child(1)::after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
#charcolors>div:nth-child(1) {
    margin: 30px;
    padding: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(2, 0, 22);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
textarea {
    display: none;
}
#previewchar0 {
    position: relative;
}
input[type="color" i] {
    transition: 0.5s;
    color: #fff;
    background: #000523;
    border: 1px solid #000523;
    height: 50px;
    width: 100px;
}
input[type="color" i]:hover {
    color: #fff;
    background: #000523;
    border: 1px solid #000523;
    height: 60px;
    width: 110px;
}
*::selection {
    background: rgb(111, 0, 255);
    color: #fff;
}
#allowmedia input[type="text" i] {
    background: none;
    border:1px solid rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.7);
    font-size: 20px;
    padding: 15px;
    border-radius: 50px;
}
#charcolors select {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
}
#charcolors option {
    background:#1c1a2e;
}

#createcharbtn {
    position: absolute;
left: 75%;
bottom: 150px;
transform: translateX(-50%);
}
#charcolors p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 780px) {
    input[type="color" i] {
        transition: 0.5s;
        color: #fff;
        background: #000523;
        border: 1px solid #000523;
        height: 50px;
        width: 50px;
}
    input[type="color" i]:hover {
        color: #fff;
        background: #000523;
        border: 1px solid #000523;
        height: 60px;
        width: 60px;
}
    input[type="text" i] {
        width: 85%;
    }
}

#previewchar0 {
    position: relative;
}

#createcharbtn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translateX(-50%);
}

#inputsettings {
    background-color: white;
}

@keyframes zoomIn {
    0% {
        font-size: 60px;
    }
}

#inputsettings>h1>span {
    animation: 0.5s zoomIn;
    font-size: 35px;
}
#inputsettings>h1 {
    min-height: 60px;
    font-size: 60px;
}
#inputsettings>h1>span:nth-child(2) {
    animation-delay: 0.25s;
}
#inputsettings>h1>span:nth-child(3) {
    animation-delay: 0.5s;
}
#inputsettings>h1>span:nth-child(4) {
    animation-delay: 0.75s;
}
#inputsettings>h1>span:nth-child(5) {
    animation-delay: 1s;
}
#inputsettings>h1>span:nth-child(6) {
    animation-delay: 1.25s;
}

#charcolors .circlebtn {
    display: flex;
    justify-content: center;
    background-color: gray;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
    border-radius: 0px;
    width: auto;
    height: auto;
}
#charcolors .circlebtn a {
    color: #fff;
    line-height: 48px;
    letter-spacing: 4px;
    font-family: consolas;
    background: #000;
    width: 160px;
    height: 50px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
#charcolors .circlebtn a span {
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #030022;
    color: rgba(255, 255, 255, 0.2);
    transition: 0.2s;
    z-index: 1;
}
#charcolors .circlebtn a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(22, 0, 122, 0.1);
}
a:hover span {
    color: rgba(255, 255, 255, 1);
}
#charcolors .circlebtn a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #e74c3c, #2c3e50, #8e44ad, #3498db, #f1c40f);
    background-size: 400%;
    filter: blur(20px);
    transition: 0.5s;
    opacity: 0;
    animation: animate1 20s linear infinite;
}
#charcolors .circlebtn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#e74c3c, #2c3e50, #8e44ad, #3498db, #f1c40f);
    background-size: 400%;
    transition: 0.5s;
    opacity: 0;
    animation: animate1 10 linear infinite;
}
#charcolors .circlebtn a:hover::after,
#charcolors .circlebtn a:hover::before {
    opacity: 1;
}
@keyframes animate1 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}
#charcolors .circlebtn::before {
    overflow: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(120, 120, 120);
    z-index: -1;
}


a:hover span {
    color: rgba(255, 255, 255, 1);
}
.circlebtn a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #e74c3c, #2c3e50, #8e44ad, #3498db, #f1c40f);
    background-size: 400%;
    filter: blur(20px);
    transition: 0.5s;
    opacity: 0;
    animation: animate1 20s linear infinite;
}
#charcolors .circlebtn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#e74c3c, #2c3e50, #8e44ad, #3498db, #f1c40f);
    background-size: 400%;
    transition: 0.5s;
    opacity: 0;
    animation: animate1 10 linear infinite;
}
#charcolors .circlebtn a:hover::after,
#charcolors .circlebtn a:hover::before {
    opacity: 1;
}
@keyframes animate1 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}
#charcolors .circlebtn::before {
    overflow: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(120, 120, 120);
    z-index: -1;
}

#charselectbtn {
    pointer-events: none;
    opacity: 0.5;
}

#inputsettings>div>div {
    border-radius: 20px;
    height: 150px;
    width: 150px;
    background-color: rgb(226, 226, 226);
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}
#inputsettings>div>div>p {
    position: absolute;
    width: 150px;
    top: 160px;
    left: 0px;
}
#inputsettings>div>div>.gear {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 35px;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: top;
    color: white;
}
#mouseinput>span:nth-child(1) {
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 50px;
    color: rgb(201, 201, 201);
}
#mouseinput>span:nth-child(1)::after {
    content: "A";
    position: absolute;
    font-size: 50px;
    left: -90px;
    top: -50px;
    color: rgb(201, 201, 201);
}

#mouseinput>span:nth-child(1)::before {
    content: "C";
    position: absolute;
    font-size: 70px;
    bottom: -70px;
    left: -40px;
    color: rgb(201, 201, 201);
}

.mouse {
    display: inline-block;
    width: 0px;
    height: 30px;
    background-color: rgb(190, 190, 190);
    position: relative;
    border-radius: 50%;
    border: 0px solid rgb(190, 190, 190);
    border-left-width: 20px;
    border-right-width: 20px;
    border-right-color: rgb(175, 175, 175);
}

.mouse::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -18px;
    width: 15px;
    height: 4px;
    display: inline-block;
    background-color: rgb(190, 190, 190);
    border-radius: 2px;
}

#mouseinput>.mouse {
    position: absolute;
    left: 10px;
    top: 100px;
}
#inputsettings .screen {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#inputsettings .selected {
    box-shadow: 0px 0px 33px 6px rgba(162, 0, 255, 0.75);

}
.screen {
    display: inline-block;
    background-color: rgb(0, 204, 255);
    width: 100px;
    height: 70px;
    border: 10px solid black;
    position: relative;
}
.screen::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 20px;
    border: 10px solid transparent;
    height: 0;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-color: black;
    
}
#worlddiv {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(92, 217, 255);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#world>div {
    position: absolute;
}

#quickstuff {
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
    align-items: center;
}
#hotbar {
    bottom: 0;
    left: 0;
    height: 70px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.3);
}
#keysettings>div {
    display: grid !important;
    grid-template-columns: 50% 50%;
    text-align: left;
    width: 100% !important;
    height: auto !important;
    background-color: transparent !important;
}
.key {
    font-size: 40px;
    display: inline-block;
    width: 50px;
    height: 50px;
    color: rgb(71, 245, 245);
    border: 2px solid rgb(71, 245, 245);
    text-shadow: 0px 0px 5px rgba(0,200,200,1);
    text-align: center;
    box-shadow: 0px 0px 4px 4px rgba(0,200,200,0.6), 0px 0px 4px 4px rgba(0,200,200,0.6) inset;
    margin: 5px;
}

#hotbar>div {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgba(255, 225, 159, 0.75);
    margin: 5px;
    margin-top: 10px;
}

#inventory {
    grid-template-columns: 200px auto;
}

#storagepoints>span {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 2px;
}

#user {
    top: 0;
    left: 0;
    width: 300px;
    height: 85px;
    background-color: rgba(22, 0, 122, 0.2);
    display: grid;
    grid-template-columns: 85px auto;
    text-align: left;
}
#user>div {
    margin: 5px;
}

#profilediv {
    background-color: rgb(200, 200, 200);
}

#infodiv {
    position: absolute;
    left: 0;
    top: 85px;
    text-align: left;
}

#itemlist>div {
    background-color: rgba(255, 225, 159, 0.75);
    height: 54px;
    width: 95%;
    display: grid;
    margin-left: 2.5%;
    margin-right: 2.5%;
    grid-template-columns: 50px auto 20px;
}

#itemlist>div>img {
    width: 50px;
    height: 50px;
    margin: 2px;
}

#iteminfo {
    display: none;
    position: relative;
}

#iteminfo>img {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 5px solid rgba(255, 225, 159);
    padding: 5px;
}

#buttondiv {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    
}

#buttondiv>.key {
    margin: auto;
}

#buttondiv>button {
    margin: 10px;
    height: 25px;
    background-color: rgb(245, 138, 126);
    border: 1px solid rgb(252, 106, 90);
}
#notificationdiv {
    position: absolute;
    right: 0px;
    top: 50px;
}
#notificationdiv>div {
    width: 200px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    border-radius: 10px;
    animation: 5s notification;
}

@keyframes notification {
    0% {
        height: 0px;
        opacity:0;
        overflow: hidden;
    }
    10% {
        height: 75px;
        opacity:1;
        overflow: auto;
    }
    90% {
        height: 75px;
        opacity:1;
        overflow: hidden;
    }
    100% {
        
        opacity:0;
        height: 0px;
    }
}

#bouncyball1 {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    z-index: 0;
    pointer-events: none;
    position: absolute;
    animation: 30s bouncyball1 infinite;
    box-shadow: 0 0 25px 25px rgba(255,255,255,0.2);
}

@keyframes bouncyball1 {
    0% {
        left: 5vw;
        top: 10vh;
    }
    25% {
        left: 50vw;
        top: 65vh;
    }
    50% {
        left: 20vw;
        top: 80vh;
    }
    75% {
        left: 70vw;
        top: 30vh;
    }
    100% {
        left: 5vw;
        top: 10vh;
    }
}

#textbox {
    background-color: rgb(231, 188, 122);
    height: 10vh;
    max-height: 200px;
    position: absolute;
    bottom: 3vh;
    width: 96vw;
    left: 2vw;
    display: none;
}

#textbox>button {
    position: absolute;
    bottom: 10px;
    width: 70px;
    height: 30px;
    background-color: rgb(182, 182, 182);
    border: none;
}
#guidePanel {
    padding: 10px;
    position: absolute;
    bottom: 100px;
    
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: rgba(116, 190, 233, 0.4);
}
#textbtn1 {
    right: 10px;
}
#textbtn2 {
    right: 90px;
}
#jfos {
    background-color: rgba(0,123,255,0.7);
    animation: 1s fadeIn;
}

#appbar {
    position: absolute;
    top:0px;
    right: 0px;
    width: 10vw;
    max-width: 75px;
    height: 100%;
    background-color: deepskyblue;
}
#appbar>div {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;

}
#window  {
    text-align: left;
}
#window>iframe {
    border: none;
    height: calc(100vh - 20px);
    width: calc(100vw - 75px);
    min-width: 90vw;
    position: absolute;
    bottom: 0px;
    left: 0;
}

#addressbar {
    position: absolute;
    width: calc(100vw - 75px);
    min-width: 90vw;
    height: 20px;
    top: 0;
    left: 0;
    background-color: rgb(176, 106, 241);
    text-align: left;
}
#addressbar>input {
    width: calc(100% - 75px);
    height: 15px;
    
}