body, html, #maindiv {
    width: 100%;
    height: 100%;
    
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: hidden;
}
* {
    margin: 0;
    padding: 0;
}

body {
background-color: aqua;
background: linear-gradient(45deg, rgba(116,250,130,1) 0%, rgba(0,123,255,1) 100%); 
}
.loadbar {
    width: 0px;
    height: 50px;
    background-color: green;
}
#testdiv {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 0 200px red inset;
    display: none;
}
#canvas {
    visibility: hidden;
}

#videoElement {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
    visibility: hidden;
    pointer-events: none;
    
}


#testdiv2 {
    display: none;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 50%;
    animation: 5s test1 infinite;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes test1 {
    0% {
        left: 10%;
    }
    50% {
        left: 90%;
    }
    100% {
        left: 10%;
    }
}



#textonly2, #devdiv, #loadimg2, #resdiv, #sky, #projectordiv, #setup, #projectorborder, .modal, #setup2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#devdiv {
    z-index: 20;
}
#textonly2 {
    pointer-events: none;
}

#textonly, #loadimg {
    z-index: 3;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 200px;
    color: red;
}

#loadimg {
    width: auto;
    height: auto;
}

#programs {
    width: 20vw;
    height: 80vh;
    top: 10vh;
    border-radius: 10px 0 0 10px;
    background-color: gainsboro;
    position: absolute;
    right: 0px;
    display: none;
}

#console {
    width: 30vw;
    height: 80vh;
    top: 10vh;
    border-radius: 0 10px 10px 0;
    background-color: black;
    position: absolute;
    left: 0px;
    border: 3px solid white;
    border-left: 0px;
    overflow: hidden;
    display: none;
}

#console>textarea {
    width: 100%;
    height: 95%;
    color: white;
    background-color: rgba(0,0,0,0);
    border: 0px;
}

#console>input {
    width: 80%;
    height: 5%;
    border: 0px;
    background-color: rgba(0,0,0,0);
    color: white;
}

#console>button {
    width: 20%;
    height: 5%;
}

#start {
    background: linear-gradient(239deg, #6fe2b2, #b665e0, #10adfe);
    background-size: 600% 600%;
    width: 100%;
    height: 100%;
    animation: mainbg 30s ease infinite;
}
#start>img {
    max-width: 90vw;
}

@keyframes mainbg {
    0%{background-position:0% 74%}
    50%{background-position:100% 27%}
    100%{background-position:0% 74%}
}
#start>button {
    width: auto;
    padding: 1vmin;
    height: 8vmin;
    background-color: blueviolet;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 5px rgb(176, 106, 241) inset, 0px 0px 15px 5px rgb(131, 0, 253);
    border: 0;
    margin: 20px;
    font-size: 5vmin;

    color:rgb(221, 186, 253);
    
}

#resdiv>span {
    background-color: red;
    margin: 0;
    padding: 0;
}

#toolbar {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: indianred;
    padding: 0;
}
#toolbar>button {
    width: 5%;
    height: 100%;
    font-size: 10px;
    float: left;
    background-color: lightgray;
    border-top: 0px;
    border-bottom: 0px;
    border: 0;
    display: block;
    margin: 0 2px 0 2px;
    position: relative;
}

#sky {
    background-color: rgb(92, 217, 255);
}
#sky>.cloud {
    animation: 5s cloud1 infinite;
    bottom: 60%;
}

@keyframes cloud1 {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(400px);
    }
    100% {
        transform: translateX(0);
    }
}
.cloud {
    width: 300px;
    height: 100px;
    background-color: white;
    position: absolute;
}

#projectordiv {
    background-color: black;
}

#qrcode {
    top: 0;
    right: 0;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: gray;
    color: white;
    z-index: 20;
    border: 0px;
}
#blockdiv {
    position: absolute;
    top: 0px;
    left: 0px;
    width: auto;
    height: auto;
    display: none;
}
#blockdiv>div {
    position: relative;
    width: 300px;
    height: 300px;
    float: left;
    margin: 10px;
    background-color: black;
}

.laserdoor {
    position: absolute;
    width: 200px;
    height: 300px;
    background-color: red;
}
#errordiv {
    position: absolute;
    height: 150px;
    width: 400px;
    background-color: red;
    border-radius: 20px;
    animation: 1s error;
    top: 50px;
    right: 20px;
    display: none;
}

@keyframes error {
    0% {
        right: -400px;
        opacity: 0.3
    }

    100% {
        opacity: 1;
        right: 20px;
    }
}

#setup>div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 700px;
    max-width: 98%;
    max-height: 95%;
    background-color: ghostwhite;
    border-radius: 30px;
    transform: translate(-50%,-50%);
    overflow-x: hidden;
    overflow-y: auto;
}

#setup {
    display: block;
    z-index: 9;
    background-color: lightgray;
}

#setup>div>div>div {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto auto auto;
    grid-row-gap: 10px;
}
#login {
    display: none;
}
#setup .tab1 {
    display: inline-block;
    border-radius: 10px 10px 0 0;
    background-color: gray;
    width: 50%;
    height: 30px;
    margin: 0%;
    position: sticky;
    top: 0px;
}

#setup button {
    background-color: lightgrey;
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 25px;
    padding: 10px;
    margin: 20px;
}

.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #282885;
    display: flex;
    align-items: center;
    justify-content: center;
}
.description {
    position: absolute;
    top: 30%;
    text-align: center;
}
.loader {
    border: 3px solid rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-top: 5px solid rgb(0, 255, 213);
    animation: 1s load infinite;
}
@keyframes load {
    to {
        transform: rotate(360deg);
    }
}

#loaddiv {
    font-family: 'Open Sans', sans-serif;
    display: block;
    z-index: 10;
    opacity: 1;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fadeout {
    animation: 1s fadeOut;
}

.modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.microphone {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 0 0 50% 50%;
    border-color: transparent black black black;
    border-width: 0 5px 5px 5px;
    border-style: solid;
    margin: 40px 5px 45px 5px;
}

.microphone::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 80px;
    bottom: 5px;
    left: 5px;
    border-radius: 20px;
    background-color: black;
}

.microphone::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 30px;
    bottom: -40px;
    left: 15px;
    border: 5px solid rgba(0,0,0,0);
    border-bottom-color: black;
    background-color: black;
}

.cameraicon {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    background-color: black;
    border-radius: 5px;
    margin: 5px 5px 5px 45px;
}

.cameraicon::after {
    content: "";
    width: 0;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: -40px;
    border: 40px solid transparent;
    border-left-color: black;
    border-right: 0px;
    
}

.circlebox {
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: gray;
    position: relative;
    vertical-align: middle;
    padding: 30px;
}

.circlebox>* {
   position: relative;
}

@keyframes scan1 {
  0% {
        transform: translateY(70px);
  }

  50% {
        transform: translateY(-70px)
  }
  100% {
    transform: translateY(70px);
}
}

#warning {
    z-index: 100;
    display: block;
    background-color: rgba(0,0,0,0.7);
    color: rgb(251, 255, 0);
    font-family: monospace;
    overflow-y: auto;
}

#warning button {
    background-color: rgb(247, 0, 226);
    border-radius: 10px;
    padding: 15px;
    border: none;
    color: white;
    margin: 15px;
    font-size: 16px;
}
#allowmedia>div {
    z-index: 3;
}
#allowmedia .l1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: darkgray;
    width: 50%;
    height: 100%;
}
#allowmedia .r1 {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: darkgray;
    width: 50%;
    height: 100%;
}

#allowmedia .r1>*, #allowmedia .l1>*, #allowmedia .r2>*, #allowmedia .l2>* {
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

#allowmedia.done>div {
    box-shadow: inset 0px 0px 33px 6px rgba(0,255,115,0.91);
}

#allowmedia .allowed {
    
    box-shadow: inset 0px 0px 33px 6px rgba(0,255,115,0.91);
    animation: 1s shadow1;
}

@keyframes shadow1 {
    0% {
        box-shadow: inset 0px 0px 0px 0px rgba(0,255,115,0.91);
    }
    100% {
        box-shadow: inset 0px 0px 33px 6px rgba(0,255,115,0.91);
    }
}

#allowmedia.done .l1 {
    animation: 1s openleft;
    top: 0px;
    left: -50%;
}

#allowmedia.done .r1 {
    animation: 1s openright;
    top: 0px;
    right: -50%;
}

@keyframes openleft {
    0% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: -50%;
    }
}

@keyframes openright {
    0% {
        right: 0px;
        top: 0px;
    }
    100% {
        right: -50%;
    }
}

#allowmedia>.circlebox {
    display: none;
}

#allowmedia.done>.circlebox {
    display: inline-block;
    animation: 1s fadeIn;
}
#allowmedia.done>.circlebox * {
    
    animation: 2s fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#allowmedia>h1 {
    position: absolute;
    z-index: 5;
    display: block;
    width: 100%;
}
#characterdiv {
    box-shadow: none !important;
    border-radius: 25px;
    height: calc(100% - 100px);
    width: 90%;
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

#characterdiv>div {
    display: inline-block;
    width: 30%;
    height: calc(100% - 50px);
    border: 5px solid grey;
    border-radius: 10px;
    position: relative;
}

#characterdiv>div>span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#characterdiv>div>span::after {
    content: "";
    width: 70px;
    height: 10px;
    background-color: lightgray;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
}
#characterdiv>div>span::before {
    content: "";
    width: 10px;
    height: 70px;
    background-color: lightgray;
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%);
}
#allowmedia .circlebtn {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.circlebtn {
    display: inline-block;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    background-color: gray;
    position: relative;
    vertical-align: middle;
    padding: 15px;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
}

.popup {
    position: absolute;
    width: 90%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    left: 5%;
    top: 5%;
    display: none;
    box-shadow: -5vw -5vh 10vmax rgba(0, 0, 0, 0.5);
}

#allowmedia>.popup>div {
    width: 100%;
    height: 100%;
}

#charcolors {
    background: #000523;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    width: 100%;
    height: 100%;
}

#charcolors>div {
    margin: 15px;
    padding: 15px;
}
#charcolors::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}
#charcolors::after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}
#charcolors:nth-child(1)::before,
#charcolors:nth-child(1)::after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}
#charcolors>div:nth-child(1) {
    margin: 30px;
    padding: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(2, 0, 22);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
textarea {
    display: none;
}
#previewchar0 {
    position: relative;
}
input[type="color" i] {
    transition: 0.5s;
    color: #fff;
    background: #000523;
    border: 1px solid #000523;
    height: 50px;
    width: 100px;
}
input[type="color" i]:hover {
    color: #fff;
    background: #000523;
    border: 1px solid #000523;
    height: 60px;
    width: 110px;
}
*::selection {
    background: rgb(111, 0, 255);
    color: #fff;
}
#allowmedia input[type="text" i] {
    background: none;
    border:1px solid rgba(255, 255, 255, 0.1);
    color:rgba(255, 255, 255, 0.7);
    font-size: 20px;
    padding: 15px;
    border-radius: 50px;
}
#charcolors select {
    border: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    padding: 5px;
    border-radius: 50px;
}
#charcolors option {
    background:#1c1a2e;
}

#createcharbtn {
    position: absolute;
left: 75%;
bottom: 150px;
transform: translateX(-50%);
}
#charcolors p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 780px) {
    input[type="color" i] {
        transition: 0.5s;
        color: #fff;
        background: #000523;
        border: 1px solid #000523;
        height: 50px;
        width: 50px;
}
    input[type="color" i]:hover {
        color: #fff;
        background: #000523;
        border: 1px solid #000523;
        height: 60px;
        width: 60px;
}
    input[type="text" i] {
        width: 85%;
    }
}

#previewchar0 {
    position: relative;
}

#createcharbtn {
    position: absolute;
    right: 0px;
    bottom: 0px;
    transform: translateX(-50%);
}

#inputsettings {
    background-color: white;
    overflow-y: auto;
}

@keyframes zoomIn {
    0% {
        font-size: 60px;
    }
}

#inputsettings>h1>span {
    animation: 0.5s zoomIn;
    font-size: 35px;
}
#inputsettings>h1 {
    min-height: 60px;
    font-size: 60px;
}
#inputsettings>h1>span:nth-child(2) {
    animation-delay: 0.25s;
}
#inputsettings>h1>span:nth-child(3) {
    animation-delay: 0.5s;
}
#inputsettings>h1>span:nth-child(4) {
    animation-delay: 0.75s;
}
#inputsettings>h1>span:nth-child(5) {
    animation-delay: 1s;
}
#inputsettings>h1>span:nth-child(6) {
    animation-delay: 1.25s;
}

#charcolors .circlebtn {
    display: flex;
    justify-content: center;
    background-color: gray;
    font-size: 20px;
    z-index: 1;
    cursor: pointer;
    border-radius: 0px;
    width: auto;
    height: auto;
}
#charcolors .circlebtn a {
    color: #fff;
    line-height: 48px;
    letter-spacing: 4px;
    font-family: consolas;
    background: #000;
    width: 160px;
    height: 50px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}
#charcolors .circlebtn a span {
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #030022;
    color: rgba(255, 255, 255, 0.2);
    transition: 0.2s;
    z-index: 1;
}
#charcolors .circlebtn a span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(22, 0, 122, 0.1);
}
a:hover span {
    color: rgba(255, 255, 255, 1);
}
#charcolors .circlebtn a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #e74c3c, #2c3e50, #8e44ad, #3498db, #f1c40f);
    background-size: 400%;
    filter: blur(20px);
    transition: 0.5s;
    opacity: 0;
    animation: animate1 20s linear infinite;
}
#charcolors .circlebtn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#e74c3c, #2c3e50, #8e44ad, #3498db, #f1c40f);
    background-size: 400%;
    transition: 0.5s;
    opacity: 0;
    animation: animate1 10 linear infinite;
}
#charcolors .circlebtn a:hover::after,
#charcolors .circlebtn a:hover::before {
    opacity: 1;
}
@keyframes animate1 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}
#charcolors .circlebtn::before {
    overflow: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(120, 120, 120);
    z-index: -1;
}


a:hover span {
    color: rgba(255, 255, 255, 1);
}
.circlebtn a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, #e74c3c, #2c3e50, #8e44ad, #3498db, #f1c40f);
    background-size: 400%;
    filter: blur(20px);
    transition: 0.5s;
    opacity: 0;
    animation: animate1 20s linear infinite;
}
#charcolors .circlebtn a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg,#e74c3c, #2c3e50, #8e44ad, #3498db, #f1c40f);
    background-size: 400%;
    transition: 0.5s;
    opacity: 0;
    animation: animate1 10 linear infinite;
}
#charcolors .circlebtn a:hover::after,
#charcolors .circlebtn a:hover::before {
    opacity: 1;
}
@keyframes animate1 {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}
#charcolors .circlebtn::before {
    overflow: hidden;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(120, 120, 120);
    z-index: -1;
}

#charselectbtn {
    pointer-events: none;
    opacity: 0.5;
}

#inputsettings>div>div {
    border-radius: 20px;
    height: 150px;
    width: 150px;
    background-color: rgb(226, 226, 226);
    display: inline-block;
    position: relative;
    margin-bottom: 50px;
}
#inputsettings>div>div>p {
    position: absolute;
    width: 150px;
    top: 160px;
    left: 0px;
}
#inputsettings>div>div>.gear {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 35px;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: top;
    color: white;
}
#mouseinput>span:nth-child(1) {
    position: absolute;
    font-size: 30px;
    right: 10px;
    top: 50px;
    color: rgb(201, 201, 201);
}
#mouseinput>span:nth-child(1)::after {
    content: "A";
    position: absolute;
    font-size: 50px;
    left: -90px;
    top: -50px;
    color: rgb(201, 201, 201);
}

#mouseinput>span:nth-child(1)::before {
    content: "C";
    position: absolute;
    font-size: 70px;
    bottom: -70px;
    left: -40px;
    color: rgb(201, 201, 201);
}

.mouse {
    display: inline-block;
    width: 0px;
    height: 30px;
    background-color: rgb(190, 190, 190);
    position: relative;
    border-radius: 50%;
    border: 0px solid rgb(190, 190, 190);
    border-left-width: 20px;
    border-right-width: 20px;
    border-right-color: rgb(175, 175, 175);
}

.mouse::after {
    content: "";
    position: absolute;
    top: 13px;
    right: -18px;
    width: 15px;
    height: 4px;
    display: inline-block;
    background-color: rgb(190, 190, 190);
    border-radius: 2px;
}

#mouseinput>.mouse {
    position: absolute;
    left: 10px;
    top: 100px;
}
#inputsettings .screen {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#inputsettings .selected {
    box-shadow: 0px 0px 33px 6px rgba(162, 0, 255, 0.75);

}
.screen {
    display: inline-block;
    background-color: rgb(0, 204, 255);
    width: 100px;
    height: 70px;
    border: 10px solid black;
    position: relative;
}
.screen::after {
    display: inline-block;
    content: "";
    position: absolute;
    width: 20px;
    border: 10px solid transparent;
    height: 0;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom-color: black;
    
}
#worlddiv {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(92, 217, 255);
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#world>div {
    position: absolute;
}

#quickstuff {
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
    align-items: center;
    z-index: 7;
}
#hotbar {
    z-index: 9;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.3);
}
#keysettings>div {
    display: grid !important;
    grid-template-columns: 50% 50%;
    text-align: left;
    width: 100% !important;
    height: auto !important;
    background-color: transparent !important;
}
.key {
    font-size: 40px;
    display: inline-block;
    width: 1em;
    height: 1em;
    color: rgb(71, 245, 245);
    border: 2px solid rgb(71, 245, 245);
    text-shadow: 0px 0px 5px rgba(0,200,200,1);
    text-align: center;
    box-shadow: 0px 0px 4px 4px rgba(0,200,200,0.6), 0px 0px 4px 4px rgba(0,200,200,0.6) inset;
    margin: 5px;
}

#hotbar>div {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-color: rgba(255, 225, 159, 0.75);
    margin: 5px;
    margin-top: 10px;
    position: relative;
}

#hotbar>div>span {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    
}

#inventory {
    grid-template-columns: 200px auto;
    z-index: 9;
}

#storagepoints>span {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 2px;
}

#user {
    top: 0;
    left: 0;
    width: 300px;
    height: 85px;
    background-color: rgba(22, 0, 122, 0.2);
    display: grid;
    grid-template-columns: 85px auto;
    text-align: left;
    z-index: 9;
}
#user>div {
    margin: 5px;
}

#profilediv {
    background-color: rgb(200, 200, 200);
}

#infodiv {
    position: absolute;
    left: 0;
    top: 85px;
    text-align: left;
    z-index: 9;
}

#itemlist>div {
    background-color: rgba(255, 225, 159, 0.75);
    height: 54px;
    width: 95%;
    display: grid;
    margin-left: 2.5%;
    margin-right: 2.5%;
    grid-template-columns: 50px auto 20px;
    border: 1px solid rgb(177, 71, 0);
    margin: 2px;
}

#itemlist>div>img {
    width: 50px;
    height: 50px;
    margin: 2px;
}

#iteminfo {
    display: none;
    position: relative;
}

#iteminfo>img {
    width: 130px;
    height: 130px;
    position: absolute;
    top: 10px;
    left: 10px;
    border: 5px solid rgba(255, 225, 159);
    padding: 5px;
}

#buttondiv {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
    
}

#buttondiv>.key {
    margin: auto;
}

#buttondiv>button {
    margin: 10px;
    height: 25px;
    background-color: rgb(245, 138, 126);
    border: 1px solid rgb(252, 106, 90);
}
#notificationdiv {
    position: absolute;
    right: 0px;
    top: 50px;
    z-index: 9;
}
#notificationdiv>div {
    width: 200px;
    height: 75px;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
    border-radius: 10px;
    animation: 5s notification;
}

@keyframes notification {
    0% {
        height: 0px;
        opacity:0;
        overflow: hidden;
    }
    10% {
        height: 75px;
        opacity:1;
        overflow: auto;
    }
    90% {
        height: 75px;
        opacity:1;
        overflow: hidden;
    }
    100% {
        
        opacity:0;
        height: 0px;
    }
}

#bouncyball1 {
    width: 30vmin;
    height: 30vmin;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.2);
    z-index: 0;
    pointer-events: none;
    position: absolute;
    animation: 30s bouncyball1 infinite;
    box-shadow: 0 0 25px 25px rgba(255,255,255,0.2);
}

@keyframes bouncyball1 {
    0% {
        left: 5vw;
        top: 10vh;
    }
    25% {
        left: 50vw;
        top: 65vh;
    }
    50% {
        left: 20vw;
        top: 80vh;
    }
    75% {
        left: 70vw;
        top: 30vh;
    }
    100% {
        left: 5vw;
        top: 10vh;
    }
}

#textbox {
    background-color: rgb(231, 188, 122);
    max-height: 200px;
    position: absolute;
    bottom: 3vh;
    width: 96vw;
    left: 2vw;
    display: none;
    z-index: 9;
    border: 1px solid black;
    padding: 10px 0;
}

#textbox>div>button {
    
    min-width: 70px;
    height: 30px;
    background-color: rgb(182, 182, 182);
    border: none;
    padding: 3px;
    margin: 5px;
}
#buttondiv1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    
}
#guidePanel {
    padding: 10px;
    position: absolute;
    bottom: 100px;
    z-index: 7;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: rgba(116, 190, 233, 0.4);
}

#jfos {
    background-color: rgba(0,123,255,0.7);
    animation: 1s fadeIn;
    z-index: 9;
}

#appbar {
    position: absolute;
    top:0px;
    right: 0px;
    width: 10vw;
    max-width: 75px;
    height: 100%;
    background-color: deepskyblue;
}
#appbar>div {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;

}
#window  {
    text-align: left;
}
#window>iframe {
    border: none;
    height: calc(100vh - 20px);
    width: calc(100vw - 75px);
    min-width: 90vw;
    position: absolute;
    bottom: 0px;
    left: 0;
}

#addressbar {
    position: absolute;
    width: calc(100vw - 75px);
    min-width: 90vw;
    height: 20px;
    top: 0;
    left: 0;
    background-color: rgb(176, 106, 241);
    text-align: left;
}
#addressbar>input {
    width: calc(100% - 75px);
    height: 15px;
    
}

#carbar {
    position: absolute;
    display: none;
    background-color: rgb(134, 134, 134);
    border: 5px solid rgb(77, 77, 77);
    border-bottom: 0px;
    border-radius: 10px 10px 0 0;
    bottom: 15vh;
    left: calc(15vw - 5px);
    width: 70vw;
    height: 75px;
    box-shadow: 0 10px 25px 30px inset rgba(30,30,30,0.7),0 0px 10px 5px rgba(30,30,30,0.7);
}

.steeringwheel {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;
    background: transparent;
    border-radius: 50%;
    border: 10px solid rgb(85, 85, 85);
}

.steeringwheel::after, .steeringwheel::before {
    content: "";
    background: rgb(201, 201, 201);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.steeringwheel::after {
    height: 30px;
    width: 100%;
}
.steeringwheel::before {
    height: 100%;
    width: 30px;
}

#carwheel {
    position: absolute;
    left: 10px;
    top: -150%;
}

#player {
   
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%,-50%);
    cursor: none;
}
#player, .player {
    position: absolute;
    width: 125px;
    height: 175px;
}

.head {
    position: absolute;
    top: 0px;
    height: 55px;
    width: 55px;
    left: 35px;
    background-color: bisque;
}

.hand {
    position: absolute;
    width: 20px;
    height: 75px;
    top: 60px;
    background-color: lightblue;
}

.righthand {
    right: 15px;
}
.lefthand {
    left: 15px;
}
.turned>.lefthand {
    display: none;
}
.turned>.righthand {
    right: 50px;
    z-index: 3;
}
.leg {
    position: absolute;
    width: 20px;
    height: 75px;
    top: 135px;
    background-color: green;
    transform-origin: top center;
    animation: 1s leg2 infinite;
    
}
.turned>.leg {
    animation: 1s leg1 infinite;
    
}

@keyframes leg2 {
    0% {
        height: 75px;
    }
    50% {
        height: 30px;
    }
    100% {
        height: 75px;
    }
}
@keyframes leg1 {
    0% {
        transform:rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    75%{
        transform: rotate(-45deg);
    }
    100% {
        transform:rotate(0deg);
    }
}

.rightleg {
    animation-delay: 0.5s !important;
    right: 35px;
}
.leftleg {
    
    left: 35px;
}
.turned>.leftleg {
    left: 50px
}
.turned>.rightleg {
    right: 50px
}
.turned>.body {
    width: 35px;
    left: 45px;
}
.body {
    position: absolute;
    background-color: yellow;
    width: 55px;
    left: 35px;
    height: 75px;
    top: 60px;
}
#gamearea>* {
    z-index: 2;
    position: absolute;
}
#gamearea {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: none;
}
.spellstick {
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: brown;
    right: 7px;
    bottom: 5px;
}
.tree {
    position: absolute;
    width: 30px;
    height: 200px;
    background: linear-gradient(85deg, brown 0%, brown 10%, burlywood 15%, brown 20%, brown 30%, burlywood 35%, brown 40%, brown 50%, burlywood 55%, brown 60%, brown 70%, burlywood 75%, brown 80%, brown 90%, burlywood 95%, brown 100%);
    border-radius: 0 0 15px 15px;
}

.tree::after {
    content: "";
    position: absolute;
    top: -200px;
    left: -90px;
    width: 200px;
    height: 200px;
    background: green;
}
#info {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.bullet {
    background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 3;
}

.stonespirit {
    position: absolute;
    background-color: gainsboro;
    width: 70px;
    height: 30px;
    border-radius: 50%;
}



.stonestand {
    position: absolute;
    height: 100px;
    width: 80px;
    border-radius: 50px;
    background-color: gray;
}

.stonestand::before {
    content:"";
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
}



.wood {
    position: absolute;
    background-color: burlywood;
    width: 50px;
    height: 50px;
    border-radius: 0 0 50% 50%;

}
.wood::before {
    content: "";
    position: absolute;
    width: 44px;
    height: 44px;
    top: -25px;
    left: 0px;
    border-radius: 50%;
    border: 3px solid brown;;
    background: radial-gradient(peachpuff 0%, peachpuff 30%, brown 33%, peachpuff 35%, peachpuff 50%, brown 53%, peachpuff 55%);
}
.seed {
    position: absolute;
    background-color: white;
    width: 50px;
    height: 20px;
    border-radius: 50%;
    
}

.emerald {
    position: absolute;
    background: radial-gradient(circle, rgba(0,249,246,1) 0%, rgba(58,240,7,1) 100%);
    width: 50px;
    height: 20px;
    border-radius: 50%;
}

#health {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 300px;
    height: 50px;
    background-color: grey;
    z-index: 9;
}

#health>div {
    width: 250px;
    height: 40px;
    margin: 5px;
    margin-left: auto;
    margin-right: 5px;
    background-color: greenyellow;
}

.loot {
    position: absolute;
    animation:  3s float infinite;
}

@keyframes float {
    50% {
        transform: translateY(20px);
    }
    
}


.vine {
    width: 200px;
    height: 200px;
    background-color: green;
    position: absolute;
}

.vine::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 40px;
    left: 16px;
    background: linear-gradient(90deg, rgba(61,209,114,1) 0%, rgb(0, 252, 122) 50%, rgba(61,209,114,1) 100%);

}

#itembar {
    width: 70%;
    height: 90px;
    bottom: 0px;
    background-color: darkgoldenrod;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 15%;
    display: grid;
    z-index: 6;
grid-template-columns: 85px 85px 85px 85px 85px 85px;
}

#itembar>div>span {
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

#itembar>div {
    margin: 10px;
    background-color: bisque;
    display: block;
    position: relative;
    width: 75px;
    height: 75px;
}

#selector1 {
    position: absolute;
    bottom: 0px;
    width: 75px;
    height: 75px;
    border: 5px solid red;
    z-index: 7;
}

.areashield1 {
    position: absolute;
    height: 100px;
    width: 80px;
    border-radius: 50px;
    background-color: gray;
}

.areashield1::before {
    content:"";
    border-radius: 50px;
    width: 80px;
    height: 80px;
    background-color: lightgray;
    position: absolute;
    top: 0;
    left: 0;
}

.areashield1::after {
    content: "";
    position: absolute;
    background: radial-gradient(circle, rgba(0,249,246,1) 0%, rgba(58,240,7,1) 100%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    box-shadow: inset 0 0 3px 3px rgba(0,0,0,0.3) ;
}

.areashield01 {
    position: absolute;
    width: 500px;
    height: 400px;
    border-radius: 250px 250px 0px 0px;
    background-color: lightskyblue;
    z-index: 1;
}
.areashield01::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 200px;
    border-radius:50%;
    bottom: -100px;
    left: 0px;
    background-color: blue;
}

.leaf { 
width: 50px; 
height: 50px;
background-color: #A0DE21; 
border-radius: 50px 0px;
position: absolute;
}

.leaf::after {
content: "";
width: 3px;
height: 30px;
position: absolute;
top: 29px;
left: -10px;
transform-origin: bottom left;
transform: rotate(45deg);
background-color: cadetblue;
}
#tabs {
bottom: 90vh;
left: 10vw;
width: 200px;
height: 30px;
position: absolute;
display: none;
z-index: 9;
}

#tabs>span {
display: inline-block;
background-color: burlywood;
width: 50%;
position: absolute;
border-radius: 5px 5px 0 0;
height: 30px;

}
#tabs>span:nth-child(1) {
left: 50%;
background-color: peachpuff;
}

#leafstorm {
left: 50px;
top: 30px;
}

#leafstorm1 {
top: 105px;
left: 50px;
}
#inventory2>div>.leaf {
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
}
#inventory2>div {
width: 75px;
height: 75px;
position: absolute;
border: 5px solid yellow;
border-color: rgb(241, 241, 72) yellow;
display: none;
}

#inventory2>p {
width: 85px;
position: absolute;
text-align: center;
}

#inventory2>.weak {
border: 5px solid yellow;
border-color: rgb(247, 194, 147) peachpuff;
background: radial-gradient(circle, rgba(61,194,209,0.75) 0%, rgba(27,255,136,0.75) 100%); 
}

.cave {
width: 300px;
height: 350px;
background-color: darkgray;
position: absolute;
border-radius: 50% 50% 0 0;
}

.cave::before {
content: "";
position: absolute;
width: 160px;
height: 150px;
background-color: black;
left: 68px;
bottom:0px;
}

.rock {
background-color: lightgrey;
border: 2px solid gray;
width: 100px;
height: 200px;
border-radius: 50px 100px 40px 75px;
position: absolute;
display: inline-block;
}

#enterplace {
position: absolute;
display: none;
text-align: center;
color: white;
z-index: 7;
}

.key {
width: 50px;
height: 50px;
font-size: 45px;
border: 3px solid lightblue;
border-radius: 10px;
display: inline-block;
}

#fade {
width: 100%;
height: 100%;
z-index: 9;
position: absolute;
left: 0px;
top: 0px;
background-color: black;
pointer-events: none;
animation: 2s fade;
opacity: 0;
display: none;
}

@keyframes fade {
0% {
opacity: 0;
}
50% {
opacity: 1;
}
100% {
opacity: 0;
}
}
.ladder {
width: 150px;
height: 250px;
background-color: transparent;
border: 0px;
border-left: 20px solid burlywood;
border-right: 20px solid burlywood;
position: absolute;
}

.ladder::after {
content: "";
width: 150px;
position: absolute;
height: 50px;
background-color: blanchedalmond;
left: 0px;
top: 50px;
}
.ladder::before {
content: "";
width: 150px;
position: absolute;
height: 50px;
background-color: blanchedalmond;
left: 0px;
bottom: 50px;
}
.grass {
position: absolute;
width: 40px;
height: 10px;
border: 10px solid green;
border-top-color: transparent;
border-bottom-width: 5px;
}
.grass::after {
content: "";
width: 10px;
height: 15px;
position: absolute;
left: 0px;
bottom: -5px;
border: 10px solid green;
border-top-color: transparent;
border-bottom-width: 5px;
}
.grass::before {
content: "";
width: 10px;
height: 20px;
position: absolute;
right: 0px;
bottom: -5px;
border: 10px solid green;
border-top-color: transparent;
border-bottom-width: 5px;
}

.headerm {
display: inline-block;
position: relative;
width: 100px;
height: 100px;
border: 20px solid gray;
border-bottom: 0px;
border-top-color: transparent;
}
.headerm::after {
content: "";
display: inline-block;
width: 0px;
position: absolute;
top: 0px;
left: -20px;
height: 0px;
border: 70px solid transparent;
border-top: 50px solid gray;
}

.headera {
position: relative;
display: inline-block;
width: 0px;
height: 0px;
border: 45px solid transparent;
border-top: 0px;
border-bottom: 90px solid gray;
}
.headera::after {
content: "";
position: absolute;
top: 40px;
left: -22px;
display: inline-block;
width: 0px;
height: 0px;
border: 20px solid transparent;
border-top: 0px;
border-bottom: 40px solid magenta;
}
.headerc {
position: relative;
display: inline-block;
width: 60px;
height: 100px;
border-radius: 50%;
border: 20px solid gray;
border-right-color: transparent;
}
.headerh {
position: relative;
display: inline-block;
width: 70px;
height: 100px;
border-radius: 40px;
border: 20px solid gray;
border-top: 0px;
border-bottom: 0px;
}

.headerh::after {
content: "";
position: absolute;
width: 100%;
top: 40px;
height: 20px;
left: 0px;
background-color: lightslategray;
}
.headeri {
display: inline-block;
width: 30px;
height: 100px;
background-color: lightsteelblue;
position: relative;
}

.headerv {
position: relative;
display: inline-block;
width: 0px;
height: 0px;
border: 45px solid transparent;
border-bottom: 0px;
border-top: 90px solid gray;
}
.headerv::after {
content: "";
position: absolute;
bottom: 30px;
left: -30px;
display: inline-block;
width: 0px;
height: 0px;
border: 30px solid transparent;
border-bottom: 0px;
border-top: 60px solid magenta;

}

.headern {
position: relative;
display: inline-block;
width: 60px;
height: 100px;
border: 30px solid gray;
border-top: 0px;
border-bottom: 0px;
}

.headern::after {
transform: rotate(45deg);
content: "";
position: absolute;
width: 200%;
top: 32px;
height: 30px;
left: -30px;
background-color: gray;
border-radius: 15px;
}

#underline {
width: 90%;
margin: auto;
height: 30px;
box-shadow: 0 0 10px 5px  rgb(252, 52, 252);
background-color: magenta;
}

.unfloor {
width: 200px;
height: 200px;
background-color: #2F4F4F;

}

.unfloor::after {
content:"";
width: 200px;
height: 200px;
background-color: transparent;
box-shadow: inherit;
position: absolute;
top: 0;
left: 0;
z-index: 6;
}

#dark {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(0,0,0,75) 100%); 
display: none;
}
.cell {
background-color: sandybrown;
width: 200px;
height: 200px;
}

.stonegolem {
width: 150px;
height: 150px;
background-color: lightgray;
border-radius: 50%;
position: absolute;
}

.stonegolem::before {
content: "";
width: 80px;
height: 40px;
left: 35px;
top: 30px;
background-color: lightsteelblue;
border-radius: 50%;
position: absolute;
}

.stonegolem::after {
content: "";
width: 40px;
height: 10px;
left: 45px;
top: 40px;
background-color: transparent;
border: 10px solid rgb(252, 52, 252);
border-bottom: 0px;
border-top: 0px;
position: absolute;
}

.boat1 {
    background-color: rgb(202, 93, 20);
    width: 500px;
    height: 150px;
    border-radius: 50%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;

}
.boat1::after {
    z-index:1;
    content: "";
    width: 480px;
    border-radius: 50%;
    border: 10px solid rgb(145, 65, 1);
    height: 80px;
    position: absolute;
    top: -3px;
    left: 0;
    border-top-color: transparent;
}

.boat1::before {
    content: "";
    width: 480px;
    border-radius: 50%;
    
    border: 10px solid rgb(145, 65, 1);
    border-bottom-color: transparent;
    height: 80px;
    position: absolute;
    top: -3px;
    left: 0;
}

.boat1>.boatside {
    position: absolute;
border: 0px solid rgb(202, 93, 20);
    border-bottom-width: 0px;
border-radius: 50%;
width: 500px;
height: 150px;
top: -60px;
border-bottom-width: 100px;
z-index: 1;
}

.boat1>#fakeplayer {
    position: absolute;
    left: 180px;
    bottom: 50px;
}

.pier1 {
    width: 700px;
    height: 90px;
    background-color: rgb(194, 101, 15);
}
.pier1::after {
    content: "";
    width: 40px;
    height: 70px;
    background-color: rgb(177, 102, 4);
    position: absolute;
    left: 10px;
    bottom: -60px;
    border-radius: 20px;
    box-shadow: 640px 0 0 0 rgb(177, 102, 4);
}

.pier1::before {
    content: "";
    width: 40px;
    height: 20px;
    background-color: rgb(177, 102, 4);
    position: absolute;
    left: 10px;
    top: -20px;
    border-radius: 20px 20px 0 0;
    box-shadow: 640px 0 0 0 rgb(177, 102, 4);
}
.basefloor {
    width: 1000px;
    height: 1000px;
    background-color: rgb(231, 185, 116);
}
.brickwall {
    width: 400px;
    height: 400px;
    background: url(images/brick.png);
}
.brickwall::after {
    margin: 0;
    padding: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #d18017;
    left: 0;
    top: 0px;
    box-shadow: 0px -17px 40px -20px black;
}
.brickwall2 {
    width: 50px;
    height: 400px;
    background-color: #d18017;
}
.brickwall2::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 400px;
    width: 50px;
    height: 400px;
    background: url(images/brick.png);
}

.carvedtext {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0px 0px 5px black;
}
.portal {
    width: 300px;
    height: 300px;
    background-color: darkgray;
    border-radius: 50% 50% 0 0;
}
.portal.active::after {
    content: "";
    position: absolute;
    width: 160px;
    height: 230px;
    left: 68px;
    bottom: 0px;
    border-radius: 50% 50% 5% 5%;
    background: radial-gradient(#7322c3 15%, #73dbe6, #e4d99e 120%);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2) inset;

}

.sand, .sandroad {
    background: url(images/sand.png);
    width: 180px;
    height: 180px;
}

.stone, .stone1, .stone2, .stone3{
    background-color: lightgrey;
    border: 2px solid gray;
    width: 30px;
    height: 30px;
    position: absolute;
    display: inline-block;
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.3);
}
.stone {
    border-radius: 50px 100px 40px 75px;
}
.stone1 {
    border-radius: 50px 50px 70px 35px;
}
.stone2 {
    border-radius: 30px 20px 40px 30px;
}

.road1 {
    background-color: rgb(77, 77, 77);
    width: 400px;
    height: 400px;
}

.road1::after {
    content: "";
    width: 20px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 190px;
    background-color: transparent;
    border-top: 100px solid white;
    border-bottom: 100px solid white;
}

.taxi::after {
    width: 100px;    
    position: absolute;
    bottom:100%;
    left: 0;
    height: 70px;
    content: "TAXI";
}
.taxi {
    
    border-top: 70px solid #facf4e;
    width: 100px;
    height: 70px;
    background-color: #ffe300;
    line-height: 70px;
    font-size: 30px;
    letter-spacing: 3px;
}
.taxi.leave {
    animation: 3s taxileave;
}
.taxi.arrive {
    animation: 3s taxiarrive;
}
@keyframes taxileave {
    100% {
        top: -300px;
    }
}
@keyframes taxiarrive {
    0% {
        top: -300px;
    }
    70% {
        opacity: 1;
        top: 50%;
    }
    100% {
        top: 50%;
        opacity: 0;
    }
}
.wallscreen {
    width: 300px;
    height: 200px;
    background-color: black;
    box-shadow: 0px 0px 40px 20px black;
}

.wallscreen::after {
    margin: 0;
    padding: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #353331;
    left: 0;
    top: 0px;
    box-shadow: 0px -17px 40px -20px black;
}

.soil {
    width: 1000px;
    height: 1000px;
    background-color: #915a14;
}

.grass1 {
    width: 1000px;
    height: 1000px;
    background-color: #469114;
}

.ironpickaxe {
    width: 50px;
    height: 50px;
    background-image: url(images/pickaxe.png);
    background-size: cover;
}
.campfire {
    width: 100px;
    height: 75px;
    border-radius: 50%;
    background-color: #f1a239;
}
#actions {
    position: absolute;
    z-index: 9;
    bottom: 100px;
    left: 10px;
    height: 50vh;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.3);
}

#actions>div {
    text-align: left;
    position: absolute;
    left: 10px;
    width: 280px;
    background-color: rgba(255, 225, 159, 0.7);
    height: 50px;
    border: 3px solid rgb(177, 71, 0);
    line-height: 50px;
    box-sizing: border-box; 
    padding: 0 5px;
}

#hotbar>div>p {
    position: absolute;
    bottom: 0;
    right: 0;
}

#actions>.selected {
    background-color: rgba(174, 255, 251, 0.7);
}

#gudepanel .key {
    width: 30px;
    height: 30px;

    border: 2px solid lightblue;
    border-radius: 5px;
    display: inline-block;

    line-height: 30px;
    font-size: 20px;
}
#mouse {
    opacity: 0.5;
    filter:grayscale(1);
    z-index: 6;
    pointer-events: none;
}
#mouse.default {
    width: 50px;
    height: 50px;
    border: 5px solid rgb(0, 255, 0);
    transform: translate(-50%,-50%);
}

#crafting {
    background-color: rgb(255, 200, 80);
    width: 375px;
    min-height: 80px;
    display: none;
    z-index: 6;
    grid-template-columns: 70px 70px 70px 70px 70px;
    grid-gap: 10px;
    padding: 10px;
}

#crafting>div> button {
    background-color: rgb(46, 46, 173);
    border-radius: 0;
    border: none;
    padding: 5px 10px;
    color: white;
}

#crafting>div> button:hover {
    background-color: rgb(68, 68, 175);
}
.crafting {
    opacity: 0.5;
    filter:grayscale(1);
}
